<form class="flex flex-col max-w-max" [formGroup]="form">
  <input [(ngModel)]="userInput" [ngModelOptions]="{standalone: true}" id="userInput" class="input mb-10" type="text" placeholder="food-and-drink"/>

  <!-- Options -->
  <div class="container gap-5 flex-col p-7 mb-10">
    <!-- Type -->
    <fieldset>
      <legend class="text-medium">Type</legend>

      <div class="flex gap-2">
        <!-- Random -->
        <label class="label">
          Random
          <input formControlName="type" class="input-radius" type="radio" name="type" value="0" checked/>
        </label>
  
        <!-- All -->
        <label class="label">
          All
          <input formControlName="type" class="input-radius" type="radio" value="1" name="type"/>
        </label>
      </div>
    </fieldset>

    <!-- On -->
    <fieldset>
      <legend class="text-medium">On</legend>

      <div class="flex gap-2">
        <!-- Category -->
        <label class="label">
          Category
          <input formControlName="on" class="input-radius" type="radio" value="2" name="on"/>
        </label>
  
        <!-- Group -->
        <label class="label">
          Group
          <input formControlName="on" class="input-radius"type="radio" value="1" name="on"/>
        </label>
  
        <!-- None -->
        <label class="label">
          None
          <input formControlName="on" class="input-radius"type="radio" name="on" value="0" checked/>
        </label>
      </div>
    </fieldset>
  </div>

  <button class="btn" (click)="searchEmoji($event)">
    Get emoji
    <ng-icon name="matAutoAwesome" class="icon"></ng-icon>
  </button>
</form>