/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.presentation-emoji {
  @apply
    text-6xl
}

.btn {
  @apply 
    flex
    justify-center
    items-center
    gap-2
    py-3 px-7 
    bg-neutral-800
    text-neutral-50
    font-medium 
    rounded-md
    duration-200
    hover:bg-neutral-600/90
    active:bg-neutral-600/80
    dark:hover:bg-neutral-800/60
    dark:active:bg-neutral-800/50
    dark:bg-neutral-800/80
    dark:text-neutral-400
}

.icon {
  @apply
    text-xl
}

.text-gradient {
  @apply
    text-neutral-800
    dark:text-white
}

.input {
  @apply
    py-3
    px-4
    font-normal
    shadow
    bg-transparent
    placeholder-neutral-200
    outline-none
    rounded-md
    dark:bg-neutral-900/75
    dark:border-neutral-800/40
    dark:placeholder-neutral-800
}

.input-radius {
  @apply 
    w-4
    h-4
    bg-neutral-600/5
    border-2
    border-neutral-600/5
    rounded-full
    appearance-none
    cursor-pointer
    checked:border-neutral-400/50
    checked:bg-neutral-100
    dark:checked:bg-neutral-800/50
    dark:checked:border-neutral-500/30
}

.option {
  @apply
  bg-neutral-100
  dark:bg-neutral-900
}

.label {
  @apply 
    text-normal 
    flex 
    gap-2 
    items-center;
}

.container {
  @apply
    flex
    shadow
    rounded-md
    dark:bg-neutral-900/75
    dark:border-neutral-800/40
}

.text-medium {
  @apply 
    font-semibold
    text-base
    text-neutral-700
    dark:text-neutral-500
}

.text-normal {
  @apply 
    font-normal
    text-sm
    text-neutral-500
    dark:text-neutral-600
}

.text-large {
  @apply
    font-semibold
    text-2xl
    text-neutral-600
    dark:text-neutral-500/85
}

.background {
  @apply
  bg-gradient-to-b
  from-neutral-100
  to-neutral-50
  dark:from-neutral-950
  dark:to-neutral-900
}

.icon-copy {
  @apply
  absolute
  left-0
  right-0
  mx-auto
  flex
  items-center
  w-36
  gap-2
  text-neutral-600
  dark:text-neutral-500/85
  text-3xl
  duration-200
}

.icon-interaction {
  @apply
  mt-5
  text-2xl
  cursor-pointer
  text-neutral-700
  hover:opacity-75
  dark:text-neutral-500
}